.wordInput{
max-width: 60px;
min-height: 60px;
text-align: center;
text-transform: uppercase;
}
.keyboard{
    padding-top: 5rem;
}
.keyboardLetter{
   text-align: center;
    height: 5rem;
    border: solid black;
    border-radius: 10%;
}
#gameOver{
    position: absolute;
    top: 0;
    display: none;
    
}